@use "colors-variables" as *;

.itemBox {
  margin-top: 10px;
  padding: 5px 0;
  display: grid;
  align-items: center;
  width: 700px;
  min-height: 75px;
  text-wrap: wrap;
  border: 1px $color-text solid;
  border-radius: 5px;
  background-color: $color-sub-1;
  box-shadow: 1px 3px 10px $color-sub-1;
  grid-template-columns: 70px 550px 40px 40px;
}
.checkbox {
  align-self: center;
  justify-self: center;
  width: 50px;
  height: 50px;
  border: 1px $color-text solid;
  border-radius: 10px;
  margin: 0 10px;
  &:hover {
    cursor: pointer;
  }
}

.completed {
  position: relative;
  &::after,
  &::before {
    position: absolute;
    content: "";
    background-color: $color-sub-2;
    width: 3px;
    border-radius: 5px;
    left: -5%;
    top: -5%;
  }
  &::after {
    height: 30px;
    rotate: 45deg;
    transform: translate(30px, -15px);
  }
  &::before {
    height: 20px;
    rotate: -45deg;
    transform: translate(-3px, 25px);
  }
}

.textbox {
  align-self: center;
  justify-self: center;
}
.deleteButton {
  align-self: center;
  justify-self: center;
  &:hover {
    cursor: pointer;
  }
}
.moveButtonsBox {
  display: grid;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.moveDownButton {
  margin-top: 5px;
  transform: rotate(180deg);
}
